.home {
  color: white;
}
.home:hover {
  text-decoration: none;
}
.buttonContainer {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
