.home {
  color: white;
}
.home:hover {
  text-decoration: none;
}
.buttonContainer {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 100px auto;
  justify-content: space-evenly;
  align-items: space-evenly;
}

body {
  background-image: url("./books2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.homeBtn {
  margin: 10px;
  padding: 20px 40px;
  font-size: 30px;
}
.title {
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}
.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(48, 125, 247, 0.9);
  padding-left: 10px;
  font-size: 0.75rem;
}
.a {
  text-decoration: none;
  color: white;
}
.a:hover {
  text-decoration: none;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
.content-wrap {
  padding-bottom: 2.5rem;
  margin: 0;
}
.resultContainer {
  display: flex;
  flex-wrap: wrap;
}
.our-books-title {
  font-size: 6rem;
  margin: 0 auto;
  align-self: center;
  text-align: center;
}
.result {
  color: gray;
  display: flex;
  justify-content: space-around;
}
.ourbuttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.addupdate {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .homeBtn {
    padding: 5px 10px;
    font-size: 15px;
  }
  .our-books-title {
    font-size: 4rem;
  }
  .put-container {
    display: flex;
    flex-direction: column;
  }
  .form-control.put-input {
    width: 100%;
    border-radius: 0px;
  }
}
